<% include ../partials/header %>

<div class="newContainer">
    <h1>Add New Comment to <%= campground.name %></h1>
    
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <input class="form-control" type="text" name="comment[text]" placeholder="text">
        <input class="form-control" type="text" name="comment[author]" placeholder="author">
        <button class="btn btn-lg btn-default" id="new">Submit</button>
    </form>
</div>
<% include ../partials/footer %>